<div class="card-header d-flex justify-content-between">
  <h1 class="m-0 text-dark">Login</h1>
</div>

<div class="card-body">
  <%= render 'form', user: @user%>
</div>

<%#= link_to "Logout", auth_logout_path %>