<div class="card-header d-flex justify-content-between">
  <div class="col-1">
    <%= link_to auth_login_path, class: 'btn btn-dark' do %>
      <i class="fa-solid fa-chevron-left"></i>
    <% end %>
  </div>
  <h1 class="m-0 col-11 text-dark">Sign Up!</h1>
</div>

<div class="card-body">
  <%= render 'form', user: @user%>
</div>

